nav{
	height:80px;
	width: 100%;
	background:#000080	;
}
nav.image{
	padding:0 100px;
}
#horizontal-list{
   float:right;
   margin-right:40px;
   list-style: none;
   display:inline-block;
}
#horizontal-list li a{
	text-decoration:none;
	color:white;
	font-size:18px;
	text-transform: uppercase;
	padding:7px 10px;
	border-radius:3px;
}
#horizontal-list li a:hover{
	color:lightblue;
}

#horizontal-list li{
   display:inline-block;
   font-size: 1.5rem;
   margin: 0px 8px;
   line-height:80px;
}
a.active,a:hover{
	border:1px solid white;
	transition: .5s;
}
nav #icon{
	color:white;
	font-size: 30px;
	line-height: 80px;
	float:right;
	margin-top:39px;
	margin-right:40px;
	cursor: pointer;
	display:none;
}
@media(max-width:1148px){
	nav #icon{
		display:block;
	}
	nav ul{
		position: fixed;
		width:100%;
		height: 100vh;
		background:#2f3640;
		top: 80px;
		left: 0%;
		margin-left:0px;
		transition: all .5s;
	}
	nav li {
		display:block !important; 
		margin: 30px 0px !important;
		line-height: 30px;
		text-align:center;
	}
	nav a{
		font-size:20px;
	}
	a:hover{
		border:none;
		color:green !important;
	}
	#horizontal-list.show{
		left:0;
	}
}
@media(max-width:909px){
	nav #icon{
		display:block;
	}
	nav ul{
		position: fixed;
		width:100%;
		height: 100vh;
		background:#2f3640;
		top: 80px;
		left: 0%;
		margin-left:0px;
		transition: all .5s;
	}
	nav li {
		display:block !important; 
		margin: 30px 0px !important;
		line-height: 30px;
		text-align:center;
	}
	nav a{
		font-size:20px;
	}
	a:hover{
		border:none;
		color:green !important;
	}
	#horizontal-list.show{
		left:0;
	}
}
#image{
	float:left;
	height:14vh;
	width:10vw;
	margin-left:38px;
	margin-right:10px;
	
}
#image1{
	margin-left:250px;
	height:3vh;
	width:2vw;
}
#table{
	display:inline;
	margin-top:16px;
	margin-left:800px;
}
.slideshow-container{
	 float:left; 
}
#login{
	margin-left:190px;
	margin-top:0px;
}

#main1{
	display:inline-block;
	margin-left: 17vw;
}
.mySlides img{
	 width:98vw;
	 height:500px;
}
#bank{
	font-size:1.5rem;
	margin-top:80vh;
	margin-left:41vw;
	margin-bottom:-4px;
	font-family:sans-serif;
	color:orange;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#hr{
	margin-left:120px;
	margin-right:150px;
}
.bank1{
	height:200px ;
	width:260px;
}
.bank1:hover{
	box-shadow:0px 0px 2px 2px grey;
}
#bank2{
	margin-left:140px;
	margin-top:30px;
	display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  
}
.center{
	margin-left:350px;
	margin-top:100px;
}

#main1 table{
	border-collapse: collapse;
}
.border{
	border:1px solid #C0C0C0;
	padding:10px;
}
.div1 {
  padding:0px 20px 20px;
}
@media (max-width: 900px) {
   .div1{
    flex: 50%;
  }
 #main1{
	display:inline-block;
	margin-left: 13vw;
}
.t,.t tr,.t td{
    display:block !important;
}
.img{
   width:500px !important;
   height:320px !important;
}
.img1{
	width:500px !important;
   height:320px !important;
}
.img2{
 width:500px !important;
   height:320px !important;
}
.img3{
  width:500px !important;
   height:320px !important;
}

.f{
	margin-left:80px !important;
}
#f1{
	margin-left:-120px !important;
}
#f2{
	margin-left:60px !important;
}
.c{
    margin-left:170px !important;
}
#cl{
    margin-left:60px !important;
}

#cl1{
    margin-left:160px !important;
}
.r{
	margin-left:100px !important;
}
.r1{
	margin-left:120px !important;
}
#a4{
	margin-left:9px !important;
	font-size:1.7rem !important;
}
#N{
	margin-left:90px !important;
}
#S{
	margin-left:50px !important;
}
#bank{
	margin-left:36vw;
}
#bank2{
	margin-left:30vw;
}
}
@media (max-width: 600px) {
   .div1{
    flex: 30%;
	margin:auto;
  }
 #main1{
	display:inline-block;
	margin-left: 1vw;
}
.t,.t tr,.t td{
    display:block !important;
}
.img{
   width:400px !important;
   height:308px !important;
}
.img1{
	width:400px !important;
   height:308px !important;
}
.img2{
 width:400px !important;
   height:308px !important;
}
.img3{
   width:400px !important;
   height:308px !important;
}
.center{
	margin-left:130px;
	margin-top:100px;
}
.f{
	margin-left:80px !important;
}
#f1{
	margin-left:-120px !important;
}
#f2{
	margin-left:60px !important;
}
.c{
    margin-left:170px !important;
}
#cl{
    margin-left:60px !important;
}

#cl1{
    margin-left:160px !important;
}
.r{
	margin-left:100px !important;
}
.r1{
	margin-left:120px !important;
}
#a4{
	margin-left:9px !important;
	font-size:1.7rem !important;
}
#N{
	margin-left:90px !important;
}
#S{
	margin-left:50px !important;
}
#bank{
	margin-left:24vw;
}
#bank2{
	margin-left:15vw;
}
}


#footer1{
	background-color:#B7CEEC;
	margin:5% 0% 0% -10% !important;
	padding-left:15%;
	padding-bottom:50px;
}

.img{
   border-radius:12.5px;
   width:300px;
   height:418px;
}
.img1{
	border-radius:12.5px;
	width:280px;
	height:180px; 
}
.img2{
	border-radius:12.5px;
 width:270px;
 height:180px;
}
.img3{
	border-radius:12.5px;
 width:603px;
 height:180px;
}
#f2{
	 text-decoration:none;
	 color:black;
	 font-family:Garamond;
	 font-size:1.8rem;
	 margin-left:70px;
}
.f{
	text-decoration:none;
	color:black;
	font-size:25px;
	margin-left:14px;
	font-family:Garamond;
}
#f1{
	text-decoration:none;
	color:black; 
	font-family:Garamond;
}
#cl{
	 text-decoration:none;
	 color:black;
	  font-family:Garamond;
	  
}
#cl1{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
.c{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
.r{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
.r1{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
.h{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
#s{
	text-decoration:none;
	color:black;
	 font-family:Garamond;
}
.color:hover{
	 box-shadow: 5px 10px 18px #888888;
}
#about{
	list-style:none;
	font-family:cursive;
}
#help{
	list-style:none;
	font-family:cursive;
}
#download{
	list-style:none;
}
#social{
	 margin-bottom:1rem;
	 font-family:cursive;
	 padding-top:9px;
}